@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Shadows+Into+Light&display=swap');
@font-face {
    font-family:'Asgaber' ;
    src: url('fontes/Asgaber DEMO VERSION.ttf') format('truetype'), 
    url('fontes/Asgaber DEMO VERSION.otf') format('opentype');
}

body {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    background-image: linear-gradient(to right, #8C5FF5, #F55FA9);
}

main{
    background-color: white;
    padding: 2%;
    width: 80%;
    margin: auto
}

h1, h2 {
    border-style: ridge;
    border-radius: 5%;
    background-color: #f55faa3b;
}

h1 {
    font-family: 'Asgaber', 'serif';
    font-size: 2em;
    text-indent: 2%;
}

h1#main {
    text-align: center;
    text-indent: 0%;
    font-size: 2.2em;
    background-color: #F5645F;
    color: white;
    border-style: dashed;
}

h2 {
    font-size: 1.5em;
    text-indent: 2%;
    font-family: 'Shadows Into Light', 'serif';
}